<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/showList.css" type="text/css">
        <title>연습페이지</title>   
    </head>
    <body style="text-align: center;">
        <header>
            <h2 class="menuText"><a href="/" class="mainHref">서비스 이름</a></h2>
            <nav>
              <ul class="menu">
                <li><a href="/ranking" class="mainHref">랭킹</a></li>
                <li><a href="/api/gamelist" class="mainHref">선호도</a></li>
                <li><a href="/" class="mainHref">해시태그 입력</a></li>
              </ul>
            </nav>
    
            <nav>
              <ul class="menu">
                <li><button class="signBtn" onclick="location.href = '/signin'">로그인</button></li>
                <li><button class="signBtn" onclick="location.href = '/signup'">회원가입</button></li>
              </ul>
            </nav>
          </header>
          <section class="num1">
            <span class="mainText">선호도 조사</span>
          </section>
        <section style="text-align: center;">
            <% for(var i = 0; i < list.length; i++) { %>
                <div class="gameListDiv">
                    <img class="gameImg" src='<%= list[i].background_image %>' alt="이미지가 없습니다.">
                    <span class="gameName"><%= list[i].name %></span>
                    <span class="gameRating"><%= list[i].rating %></span>
                    <form method="POST" action="/api/gamelist/<%=i%>" class="BtnForm<%=i%>" style="display:inline-block;">
                      <input type="hidden" name="gameName" value="<%=list[i].name%>">
                      <button type="submit" class="likeBtn" name="like" value="like">좋아요</button>
                      <button type="submit" class="unlikeBtn" name="like" value="unlike">싫어요</button>
                    </form>
                </div>
            <% } %>
        </section>
    </body>
</html>